<div class="container-fluid" id="heroimage">

</div>

<div class="container-fluid" id="items">
  
  <div class="header">
    <h1>Featured Bikes</h1>
  </div>
  
  <div id="featured">
    <div class="col-lg-4 col-md-6 col-sm-12" id="bikesforsale">
      <%= image_tag("salebike.jpg", class: "img-responsive bike-image") %>
        <hr>
          <h3>Bike Name</h3>
            <p>Tumblr magna try-hard, retro wolf viral portland photo booth. PBR&B anim affogato sriracha biodiesel. Velit 90's single-origin coffee, forage pitchfork banh mi 3 wolf moon celiac waistcoat quinoa helvetica. IPhone hashtag everyday carry, vice nostrud XOXO accusamus non. Post-ironic blog direct trade venmo magna. Truffaut XOXO venmo, roof party beard synth YOLO. Sartorial delectus distillery master cleanse, offal artisan microdosing wolf art party placeat tote bag irure vinyl.</p>
            <p>$200</p>
        <hr>
      <%= image_tag("salebike.jpg", class: "img-responsive bike-image") %>
        <hr>
          <h3>Bike Name</h3>
            <p>Tumblr magna try-hard, retro wolf viral portland photo booth. PBR&B anim affogato sriracha biodiesel. Velit 90's single-origin coffee, forage pitchfork banh mi 3 wolf moon celiac waistcoat quinoa helvetica. IPhone hashtag everyday carry, vice nostrud XOXO accusamus non. Post-ironic blog direct trade venmo magna. Truffaut XOXO venmo, roof party beard synth YOLO. Sartorial delectus distillery master cleanse, offal artisan microdosing wolf art party placeat tote bag irure vinyl.</p>
            <p>$200</p>
        <hr>
    </div>
    
    <div class="col-lg-4 col-md-6 col-sm-12" id="bikesforsale">
      <%= image_tag("salebike.jpg", class: "img-responsive bike-image") %>
        <hr>
          <h3>Bike Name</h3>
            <p>Tumblr magna try-hard, retro wolf viral portland photo booth. PBR&B anim affogato sriracha biodiesel. Velit 90's single-origin coffee, forage pitchfork banh mi 3 wolf moon celiac waistcoat quinoa helvetica. IPhone hashtag everyday carry, vice nostrud XOXO accusamus non. Post-ironic blog direct trade venmo magna. Truffaut XOXO venmo, roof party beard synth YOLO. Sartorial delectus distillery master cleanse, offal artisan microdosing wolf art party placeat tote bag irure vinyl.</p>
            <p>$200</p>
        <hr>
      <%= image_tag("salebike.jpg", class: "img-responsive bike-image") %>
        <hr>
          <h3>Bike Name</h3>
            <p>Tumblr magna try-hard, retro wolf viral portland photo booth. PBR&B anim affogato sriracha biodiesel. Velit 90's single-origin coffee, forage pitchfork banh mi 3 wolf moon celiac waistcoat quinoa helvetica. IPhone hashtag everyday carry, vice nostrud XOXO accusamus non. Post-ironic blog direct trade venmo magna. Truffaut XOXO venmo, roof party beard synth YOLO. Sartorial delectus distillery master cleanse, offal artisan microdosing wolf art party placeat tote bag irure vinyl.</p>
            <p>$200</p>
        <hr>
    </div>
    
    <div class="col-lg-4 col-md-6 col-sm-12" id="bikesforsale">
      <%= image_tag("salebike.jpg", class: "img-responsive bike-image") %>
        <hr>
          <h3>Bike Name</h3>
            <p>Tumblr magna try-hard, retro wolf viral portland photo booth. PBR&B anim affogato sriracha biodiesel. Velit 90's single-origin coffee, forage pitchfork banh mi 3 wolf moon celiac waistcoat quinoa helvetica. IPhone hashtag everyday carry, vice nostrud XOXO accusamus non. Post-ironic blog direct trade venmo magna. Truffaut XOXO venmo, roof party beard synth YOLO. Sartorial delectus distillery master cleanse, offal artisan microdosing wolf art party placeat tote bag irure vinyl.</p>
            <p>$200</p>
        <hr>
      <%= image_tag("salebike.jpg", class: "img-responsive bike-image") %>
        <hr>
          <h3>Bike Name</h3>
            <p>Tumblr magna try-hard, retro wolf viral portland photo booth. PBR&B anim affogato sriracha biodiesel. Velit 90's single-origin coffee, forage pitchfork banh mi 3 wolf moon celiac waistcoat quinoa helvetica. IPhone hashtag everyday carry, vice nostrud XOXO accusamus non. Post-ironic blog direct trade venmo magna. Truffaut XOXO venmo, roof party beard synth YOLO. Sartorial delectus distillery master cleanse, offal artisan microdosing wolf art party placeat tote bag irure vinyl.</p>
            <p>$200</p>
        <hr>
    </div>
    
  </div>
  
</div>
  
  
  
</div>
