<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@product.errors.count, "error") %> Oops! This product can't be saved:</h3>
      
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      
    </div>
  <% end %>
  

<form id="product-form">  
  <fieldset>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </fieldset>
  <fieldset>>
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </fieldset>
  <fieldset>
    <%= f.label :text %><br>
    <%= f.text_area :text, rows:4, class: "form-control" %>
  </fieldset>
  
  <fieldset>
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url, class: "form-control" %>
  </fieldset>
  <fieldset>
    <%= f.label :colour %><br>
    <%= f.text_field :colour, class: "form-control" %>
  </fieldset>
  <fieldset>
    <%= f.label :price %><br>
    <%= f.text_field :price, class: "form-control" %>
  </fieldset>
   
  <div class="button">
    <%= f.submit class: "btn btn-success"%>
  </div>
    
</form>  

 

 
<% end %>
