
  <div class="center-block">
    <div class="col-lg-3 col-md-6 col-sm-12" id="product-columns">
        
      <%= image_tag(product.image_url, class: "img-responsive product-image") %>
      
      <div id="description-container">
        <h3><%= product.name %></h3>
        <p><%= product.description %></p>
        <p><%= product.text %></p>
        <p><%= product.colour %></p>
        <p><%= product.price %></p>
      </div>
      
      <div id="product-buttons">
        <button type="button" class="btn btn-secondary"><%= link_to 'show', product %></button>
        <button type="button" class="btn btn-secondary"><%= link_to 'new', new_product_path %></a></button>
        <button type="button" class="btn btn-secondary"><%= link_to 'edit', edit_product_path(product) %></button>
        <button type="button" class="btn btn-secondary"><%= link_to 'destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></button>
      </div>
    </div><!--/col-lg-4 col-md-6 col-sm-12-->
  </div>
