
<div class="container-fluid" id="product-index">
  <div class="header" id="product-index-header">
    <h1>product listings</h1>
  </div>
  <p id="notice"><%= notice %></p>
  <div class="product-listings">
    <% @products.each do |product| %>
    
      <div class="center-block">
      <div class="col-lg-3 col-md-6 col-sm-12" id="product-columns">
        
        <%= image_tag(product.image_url, class: "img-responsive") %>
      
        <h3><%= product.name %></h3>
        <p><%= product.description %></p>
        <p><%= product.text %></p>
        <p><%= product.colour %></p>
        <p><%= product.decimal %></p>
      
        <button type="button" class="btn btn-secondary"><%= link_to 'show', product %></button>
        <button type="button" class="btn btn-secondary"><%= link_to 'edit', edit_product_path(product) %></button>
        <button type="button" class="btn btn-secondary"><%= link_to 'destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        
      </div><!--/col-lg-4 col-md-6 col-sm-12-->
      </div>
    <% end %>
  </div><!--/product-listings-->
</div><!--/container-fluid-->